/*Title*/
h1 {
    font-size: 50px;
    font-style: italic;
}

h3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

div {
    text-align: center;
}

/* Navigation Buttons */
a.Home, a.Projects {
    font-size: 25px;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid blue;
    border-radius: 15px;
    padding: 5px;
    width: 100px;
    margin: auto;
    color: white;
}

a.Home:hover, a.Projects:hover {
    background-color: rgb(68, 68, 244);
    border: 2px solid rgb(68, 68, 244);
    color: rgb(248, 248, 248);
    border-radius: 15px;
    padding: 5px;
    width: 100px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Corrected box-shadow value */
}

/* Home page profile picture */
img.Profile {
    height: 500px;
    width: 400px;
    border-radius: 50%;
    border: 2px solid blue;
    margin-bottom: 15px;
}

body {
    background-color: rgb(150, 187, 223);
}

div.About {
    font-style: italic;
    font-size: 30px;
    border: 2px solid blue;
    border-radius: 15px;
}


h2.Tech,
h2.Soft {
    font-style: italic;
    font-weight: bold; /* Changed font-style to font-weight */
}

div.Contact {
    font-style: italic;
    font-size: 25px;
    border: 2px solid blue;
    border-radius: 15px;
}

h1.Projects {
    font-style: italic;
    font-size: 50px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border: 2px solid blue;
    border-radius: 15px;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}