/*Title*/
h1 {
    font-size: 50px;
    font-style: italic;
    text-align: center;
    margin: auto;
}

h2 {
    border-bottom: black 2px solid;
    font-size: 50px;
    font-style: italic;
    text-align: center;
    margin: auto;
}

h3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

div {
    text-align: center;
}

/* Navigation Buttons */
a.Home, a.Projects {
    font-size: 25px;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid blue;
    border-radius: 15px;
    padding: 5px;
    width: 100px;
    margin: auto;
    color: white;
}

a.Home:hover, a.Projects:hover {
    background-color: rgb(68, 68, 244);
    border: 2px solid rgb(68, 68, 244);
    color: rgb(248, 248, 248);
    border-radius: 15px;
    padding: 5px;
    width: 100px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Corrected box-shadow value */
}

/* Home page profile picture */
img.Profile {
    height: 500px;
    width: 400px;
    border-radius: 50%;
    border: 2px solid blue;
    margin-bottom: 10px;
}
/* project images should be adjusted to fit the page */
img.RB_pizza, img.Music_player_app {
    height: auto;
    max-width: auto;
    display: block;
    border-radius: 50%;
    border: 2px solid blue;
    margin-bottom: 10px;
    list-style: none;
}

body {
    background-color: rgb(150, 187, 223);
}

div.About {
    background-color: lightgray;
    font-style: italic;
    font-size: 30px;
    margin-left: 175px;
    margin-right: 175px;
    margin-bottom: 50px;
    border: 2px solid blue;
    border-radius: 15px;
    padding: 50px;
}

p.About2 {
    display: inline-block;
    border-top: black 2px solid;
    margin: 5px;
    padding-top: 5px;
}



h2.Tech,
h2.Soft {
    font-size: 30px;
    font-style: italic;
    font-weight: bold; /* Changed font-style to font-weight */
    /* add a line to the bottom of the heading */
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    font-size: 50px;
}

div.Contact {
    font-style: italic;
    font-size: 25px;
    border: 2px solid blue;
    border-radius: 15px;
    margin-left: 175px;
    margin-right: 175px;
    background-color: lightgray;
    border-bottom: black 2px solid;
}

div.Projects {
    font-style: italic;
    font-size: 25px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border: 2px solid blue;
    border-radius: 15px;
    background-color: lightgray;
    margin-top: 25px;
    margin-left: 175px;
    margin-right: 175px;
    margin-bottom: 50px;
    max-width: auto;
}

ul.Project-list{
    list-style: none;
    font-size: 25px;
}

p#Projects_paragraph {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    position: relative;
    display: inline-block;
    margin-left: 425px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    max-width: 50%;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}